@use "./palette" as colors;

.grid {
   display: flex;
   align-items: center;
   justify-content: center;

   .cell {
      width: 100px;
      height: 100px;
      border: 1px solid colors.$text-color-light;
   }

   .cell.active {
      background-color: colors.$black;
   }
}
